.fa-fw {
    margin-right: 6px;
}

.layui-form-label {
    text-align: left !important;
}

#uploadHeadpicWrapper {
    text-align: center;
}

#headPic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#uploadHeadpic {
    margin-bottom: 25px;
}