#webLogo {
    font-size: 18px;
    width: auto !important;
    margin-left: 15px;
}

#webLogo .layui-icon {
    font-size: 18px;
}

#webLogo > a {
    color: #009688;
}

.layui-icon {
    margin-right: 5px;
}

dl.layui-nav-child a {
    padding: 0 10px !important;
}

#userList {
    right: 0;
    left: auto;
    min-width: 0;
    z-index: 1000;
}

#userList a {
    text-align: right;
}

#userList i {
    margin-right: 2px;
}

#userWrapper {
    margin-left: 40px;
}

#userCenter dd > a {
    text-align: center;
}

.fa-fw {
    margin-right: 6px;
}

#itemPicWrapper {
    text-align: center;
}

#itemPic {
    width: 240px;
    border: whitesmoke solid 5px;
    box-shadow: 0 0 10px 2px #ddd;
    margin-bottom: 25px;
}

.fontSmall {
    font-size: 12px;
}

span.info {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 2px;
}

span.info i {
    margin-right: 0 !important;
}

#credit,
#level {
    float: left;
}

#levelBar,
#creditBar {
    margin-top: 4px;
    margin-bottom: 15px;
}

#toolBar {
    margin-top: 25px;
    text-align: center;
}

.itemDetail > div {
    padding: 18px 0;
    border-top: 1px solid #ddd;
}

#moreItemInfo blockquote {
    margin-top: 18px;
}

/*底部栏*/
#footer {
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #eee;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media only screen and (max-width: 767.5px) {
    #webLogo,
    #webLogo .layui-icon {
        font-size: 16px !important;
    }

    #webLogo {
        margin-left: 10px !important;
    }

    #buy, #addFavour {
        margin-bottom: 20px;
    }

    #footer {
        font-size: 11px;
        text-align: center;
        position: initial;
    }

    /*消息提醒红点*/
    #userWrapper > span.layui-badge-dot {
        left: 0;
    }
}

@media only screen and (max-width: 992px) {
    #toolBar {
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .layui-col-md-offset1 {
        margin-left: 6.33333333% !important;
    }

    #infoWrapper {
        width: 29% !important;
    }
}

@media only screen and (max-width: 380px) {
    #navBar {
        padding-right: 0px;
    }

    #shoppingMall > a {
        padding: 0 5px !important;
    }

    #userCenter {
        margin-left: 2px;
    }

    #userCenter > a {
        padding-left: 5px !important;
    }
}